
<div id="header-carousel" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner "  >
      <div class="carousel-item active" >
        <img src="C:\Users\AVIJIT DUTTA\OneDrive\Desktop\Shishuvani\website\src\assets\img\carousel-1.jpg" class=" img-fluid d-block w-100"  alt="">
        <div class="carousel-caption d-none d-md-block" >
          <h5 class="text-primary text-uppercase mb-3">Best Online Courses</h5>
          <h1 class="display-3 text-white">The Best Online Learning Platform</h1>
          <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
          <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3">Read More</a>
          <a href="#" class="btn btn-light py-md-3 px-md-5">Join Now</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="C:\Users\AVIJIT DUTTA\OneDrive\Desktop\Shishuvani\website\src\assets\img\carousel-2.jpg" class=" img-fluid d-block w-100" alt="">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-primary text-uppercase mb-3">Best Online Courses</h5>
          <h1 class="display-3 text-white">Start Learning Online From Your Home</h1>
          <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
          <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3">Read More</a>
          <a href="#" class="btn btn-light py-md-3 px-md-5">Join Now</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
