<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">about us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="../assets/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to Shishuvani</h1>
                <p class="mb-4">At Shishuvani, we believe that every child deserves access to quality education, regardless of their circumstances. Our mission is to revolutionize early childhood education by providing an engaging, interactive, and personalized learning experience for preschool-aged children.</p>
                <h1 class="mb-4">Who We Are</h1>
                <p class="mb-4">Founded in 2024,Shishuvani is a team of passionate educators, developers, and innovators dedicated to creating a brighter future for young learners. Our platform is the result of years of research, collaboration, and dedication to improving early childhood education.</p>
                <h1 class="mb-4">Our Vision for the Future</h1>
                <p class="mb-4">At Shishuvani we are committed to continuous improvement and innovation. We are constantly exploring new ways to enhance our platform, develop new features, and expand our reach to make quality education accessible to children everywhere.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Funny Learning Process</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Study Materials</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->