<!-- <div class="container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div *ngIf="message" class="alert alert-danger">{{ message }}</div>

    <a routerLink="/register">Register Here..</a>
</div>
 --><div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>



    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()">
      <input type="email" id="login" class="fadeIn second" [(ngModel)]="email" name="email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <div *ngIf="message" class="alert alert-danger">{{ message }}</div>
    <!-- Remind Passowrd -->
    <div id="formFooter">
        <a routerLink="/register">Register Here..</a><br>
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>


